__pycache__/
marathon_programs/
shoes/
.DS_Store
.vscode/
*.csv
*.gif
*.heic
*.html
*.png
*.txt
*.sql
*.log
check_paces.py
cal_VO2Max.py
marathon_plan.py
mod_data_layout.py
DateEntry.py
running.db
Displayer.py
